.navbar {
    z-index: 3;
    position: fixed;
    background: var(--primary-colour);

    .nav-list {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        li {
            display: inline;
        }

        li :hover {
            .icons {
                transition: 200ms ease-in;
                color: var(--secondary-colour);
            }
        }

        li a {
            text-align: center;
        }

        li a svg {
            color: white;
        }
    }
}

//For full size screens
@media only screen and (min-width: 900px){
    .navbar {
        width: 8vw;
        height: 100vh;
    }
    .nav-list {
        flex-direction: column;
        align-self: center;

        li a svg {
            width: 60%;
        }
    }
    .nav-list li a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
    }
}

//For smaller screens
@media only screen and (max-width: 900px){
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 10vh;
    }
    .nav-list {
        height: 10vh;
        flex-direction: row;
        justify-content: center;

        li a svg {
            width: 50%;
        }
    }

    .nav-list li a {
        flex-direction: column;
    }

}

@media only screen and (max-width: 600px){
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 10vh;
    }
    .nav-list {
        height: 10vh;
        flex-direction: row;
        justify-content: center;

        li a svg {
            width: 3em;
        }
    }

    .nav-list li a {
        flex-direction: column;
    }

}