.main-logo {
    margin-top: 5%;
    margin-left: 8vw;
    padding-left: 5%;
    margin-bottom: 5%;
    width: 30em;
}

.track {
    font-size: 25px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    
    main {
        text-align: center;

        .types {
            margin-bottom: 5%;
            button {
                width: 15em;
                margin: 5% 2%;
                font-weight: 300;
                border: none;
                padding: 1.5% 4%;
                border-radius: 5px;
                background: #C5C5C5;
                
                a {
                    text-decoration: none;
                    font-size: 2em;
                    color: white;
                }
            }
        }

        input {
            padding: 4% 2%;
            border-radius: 10px;
            border-style: solid;
            width: 80%;
            font-size: 3em;
            color: rgba(94, 94, 94, 0.233);
        }

        .track-result {
            height: 50%;
            margin: 3% 8%;
            font-size: 3em;
            border-radius: 10px;
            border-style: solid;
            background: white;
            border-color: rgb(139, 139, 139);
        }

        .track-btn {
            margin-top: 4%;
            color: white;
            font-weight: 300;
            font-size: 3em;
            background: var(--primary-colour);
            border: none;
            border-radius: 5px;
            padding: 2% 3%;
        }
    }

    .pin {
        text-align: center;
        z-index: 0;
        img {
            width: 30%;
            padding: 8% 0;
            animation: move 1s infinite alternate;
        }
    
        @keyframes move {
            0% {
                transform: translateY(0px);
            }
            100% {
                transform: translateY(20px);
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .track {
        margin-bottom: 0;
        margin-left: 8vw;

        .main-logo {
            width: 12em;
        }
        
        main{
            .types {
                button {
                    margin: 5% 5%;
                    border-radius: 10px;
                    a {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .main-logo {
        width: 20em;
        padding-left: 2%;
        margin-top: 2%;
        margin-bottom: 0;
    }
    .track {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        margin-left: 8vw;
        
        main{
            width: 50%;
            .types {
                button {
                    width: fit-content;
                    padding: 1% 5%;
                    margin: 7% 4%;
                    margin-bottom: 0;
                    border-radius: 10px;
                    a {
                        padding: 0;
                        font-size: 1.5em;
                    }
                }
            }
            input {
                margin-top: 0;
                width: 80%;
                font-size: .5em;
            }
            .track-result {
                width: 83%;
                font-size: 1em;
            }
            .track-btn {
                font-size: 1em;
            }
        }
    }
    .pin {
        width: 50%;
        img {
            width: 200%;
        }
    }
}